.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #B70000;
}

.navbar li:not(.logo) {
	float:right;
}

.navbar li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover {
	background-color: #A30000;
	text-decoration: none;
	color: #fff;

}

.navbar li a:visited {
	text-decoration: none;
}

.navbar li.logo {
	float: left;
	color: #fff;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;
}

body {
	color: #B70000;
	margin: -1px;
	border: -1px;
}

.content {
	padding-left: 20px;
	padding-right: 0px;
}

.page-header h1 {
	color: #B70000;
	margin-top: 0;
	padding: 20px 20px 0px 10px;
	font-size: 36pt;
	text-decoration: none;
}

.wholeContent {
	width: 75%;
	font-family: sans-serif;
	margin: auto;
	max-width: 64em;
}

@media (max-width:900px) {
	.wholeContent {
		width: 100%;
		float: left;
		margin: 3em auto;
	}

	.page-header h1 {
		padding-left: 0px;
	}

	.navbar li.logo {
		padding: 14px 20px;
	}
}

.ticket {
	float: left;
	width: 70%;
	padding: 0;
    /*border: 2px solid #000000;*/
	margin-right: -2px;
    margin-bottom: 2.5em;
}

.title h1 {
	color: #fff;
	font-size: 2.5em;
	margin-top: 0;
	background-color: #B70000;
	padding: 1em 0.5em 0.15em 0.5em;
	margin-bottom: 0;
	background:
		radial-gradient(circle at top left, #fff 30.5px, #B70000 31px, transparent 0%),
		radial-gradient(circle at top right, #fff 30.5px, #B70000 31px);
	text-align: center;
}

.title {
	border-bottom: 4px dashed #B70000;
}

.title span {
	font-size: 0.45em;
}

.genre, .friends, .notes, .label {
	font-size: .95em;
	/*text-transform: lowercase;*/
	padding: 0.5em 0.5em 0.5em 1.5em;
	background-color: #B70000;
	color: #fff;
	margin-top: 0;
	text-align: center;
}

.label {
	font-weight: normal;
	font-size: 1.1em;
	font-variant: small-caps;

}

.genre {
	padding-top: 1em;
}

.ticket h2 {
	font-size: 1.25em;
	color: #fff;
	margin: 0;
}

.notes {
	padding-bottom: 1em;
	background:
		radial-gradient(circle at bottom left, #fff 30.5px, #B70000 31px, transparent 0%),
		radial-gradient(circle at bottom right, #fff 30.5px, #B70000 31px)
}

.poster img {
	float: left;
	width: 30%;
	background-color: #FFF;
	margin-bottom: 0em;
	padding-right: 1.5em;
	max-height: 22em;
	max-width: 15em;
}

.newTicket {
	float: right;
	color: #B70000;
	font-size: 26pt;
	margin-right: 20px;
}

