
/* NAVBAR */
.nav, .navbar, .container-fluid:hover, .navbar-header, .collapse, .navbar-brand, .navbar-nav {
	background-color: #B70000;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav li a {
	color: #fff;
	font-size: 16px;
}

.navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	color: #DAA520;
}

.navbar-inverse .navbar-nav .dropdown-menu li a {
	color: #B70000;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus {
	border-color: #fff;
	background-color: #B70000;
}

.navbar-inverse .dropdown-menu li a {
	color: #DAA520;
}

.navbar-inverse .navbar-toggle:hover {
	background-color: #DAA520;
	border-color: #DAA520;
}

.navbar {
	border-bottom: 1px solid #fff;
}

body {
	color: #B70000;
	margin: -1px;
	border: -1px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 60px;
}

.content {
	padding-left: 20px;
	padding-right: 0px;
}

/* CONTAINS TITLE & BUTTONS */
.page-header {
	max-width: 66em;
	border: none;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.page-header h1 {
	font-size: 5em;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 5px;
	margin-left: -7px;
}

/* TICKET CREATE/EDIT/DELETE BUTTONS */
.newTicket, .newTicket:visited {
	float: left;
	display: block;
	color: #B70000;
	font-size: 16pt;
	text-decoration: none;
	margin-right: 10px;
	margin-left: 10px;
	border-bottom: 1px solid #B70000;
	position: relative;
}

.newTicket:hover {
	color: #DAA520;
	text-decoration: none;
	border-bottom: 1px solid #DAA520;
}

.ddContent a:hover {
	color: #DAA520;
	width: 100%;
	display: block;
}

.buttonList {
	list-style-type: none;
	margin-bottom: 2em;
	padding: 0;
}

.buttonList li {
	float: left;
	text-align: center;
}

.first a {
	margin-left: 0px;
}

.buttonList li a, .dropdown .newTicket {
	display: inline-block;
	color: #B70000;
	text-align: center;
	padding: 10px 0px 5px 0px;
	text-decoration: none;
}

.buttonList li a:not(.newTicket) {
	width: 100%;
}

.buttonList li a:hover, .dropwdown:hover .newTicket {
	color: #DAA520;
}

li.dropdown {
	display: inline-block;
}

.ddContent {
	display: none;
	position: absolute;
	z-index: 1;
	background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 46px;
    width: 100%;
    padding: 0px 1px 0px 1px;
}

.ddContent a {
	text-decoration: none;
	display: inline-block;
	color: #B70000;
}

.ddContent a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .ddContent {
	display: block;
}

/* INDIVIDUAL TIX */
.wholeContent {
	width: 66em;
	font-family: 'Open Sans', sans-serif;
	max-width: 66em;
	display: inline-block;
	margin-bottom: 2.5em;
}

.ticket {
	float: left;
	width: 70%;
	padding: 0;
}

.title h1 {
	color: #fff;
	font-size: 2.25em;
	margin-top: 0;
	background-color: #B70000;
	padding: 1em 0.5em 0.15em 0.5em;
	margin-bottom: 0;
	background:
		radial-gradient(circle at top left, #fff 30.5px, #B70000 32px, transparent 0%),
		radial-gradient(circle at top right, #fff 30.5px, #B70000 32px);
	text-align: center;
	border-style: none;
	height: 3.7em;
	z-index: 1;
}

.title {
	border-bottom: 4px dashed #B70000;
}

.title span {
	font-size: 0.5em;
}

.genre, .friends, .notes, .label {
	font-size: 1em;
	padding: 0.5em 0.5em 0.5em 1.5em;
	background-color: #B70000;
	color: #fff;
	margin-top: 0;
	text-align: center;
}

.label {
	font-weight: normal;
	font-size: 1.1em;
	font-variant: small-caps;
}

.genre {
	padding-top: 1em;
}

.ticket h2 {
	font-size: 1.25em;
	color: #fff;
	margin: 0;
}

.notes {
	padding-right: 1em;
	padding-bottom: 1em;
	background:
		radial-gradient(circle at bottom left, #fff 30.5px, #B70000 32px, transparent 0%),
		radial-gradient(circle at bottom right, #fff 30.5px, #B70000 32px)
}

.poster img {
	border: 1px solid #000;
	float: left;
	width: 25%;
	background-color: #fff;
	margin-right: 1.5em;
}

/* FORM STYLE */
.save {
    float: right;
    margin-right: 2%;
}

.post-form textarea, .post-form input {
    width: 98%;
}

.signup p {
	margin-right: 50px;
}


/* ABOUT PAGE */
.about {
	padding-left: -20px;
	margin: -20px;
}

h1.text {
	padding-top: 10px;
}

h1.text, h2.text {
	margin: 20px;
	color: #fff;
	font-weight: bold;
}

p.text {
	margin: 20px;
	color: #fff;
	font-weight: normal;
	font-size: 18pt;
}

.aboutPage {
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

.opacity {
	height: 100%;
	width: 100%;
	padding-right: 20px;
	position: fixed;
	background: rgba(0,0,0,0.4);
	margin-top: 50px;
}

/* TMDB ATTRIBUTION */
.tmdb {
	font-size: 8pt;
	font-style: italic;
}

.tmdb img {
	height: 36px;
	width: 36px;
}

/* MEDIA QUERIES */
@media (max-width: 767px) {

	.navbar, .navbar-header {
		border-bottom: 1px solid #fff;
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu li a:hover, .navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav .dropdown-menu li a:hover {
		color: #DAA520;
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu li a {
		color: #fff;
	}

	.wholeContent {
		width: 54em;
	}

	.page-header h1 {
		font-size: 4em;
	}

	.title h1 {
		font-size: 1.75em;
	}

	.genre, .friends, .notes, .label {
		font-size: 0.9em;
	}

	.title span {
		font-size: 0.5em;
	}

	.label {
		font-size: 1em;
	}

	.ddContent {
		top: 46px;
	}

	p.text {
		font-size: 1.35em;
	}

	h1.text {
		font-size: 2em;
	}
}

@media (max-width: 480px) {

	.content {
		margin-right: auto;
		padding-right: none;
		overflow-x: none;
		width: 100%;
	}

	.wholeContent {
		width: 25em;
	}

	.ticket {
		width: 100%;
	}

	.poster img {
		display: block;
		width: 20.5em;
		/*height: 27em;*/
		margin-bottom: 20px;
		margin-left: 2.2em;
		padding-right: 0;
	}

	.page-header h1 {
		font-size: 2em;
		margin-left: -2px;
	}

	.title h1 {
		font-size: 14px;
	}

	.genre, .friends, .notes, .label {
		font-size: 10px;
	}

	.notes {
		padding-left: 1em;
		padding-right: 1em;
		padding-bottom: 1.5em;
	}

	.title span {
		font-size: 10px;
	}

	.label {
		font-size: 14px;
	}

	.ddContent {
		top: 38px;
		font-size: 12px;
	}

	.newTicket {
		font-size: 16px;
	}

	p.text {
		font-size: 1.15em;
		font-weight: bold;
	}

	h1.text {
		font-size: 1.5em;
		font-weight: bolder;
	}

	.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav li a {
		font-size: 14px;
	}
}

@media (min-width: 1130px) {

	.ticket-body {
		display: block;
		width: 63%;
		margin: 0 auto;
		padding-left: 0;
	}
}
