<!DOCTYPE html>
<html lang="en">
<head>

	{% block title %}<title>movie memory </title>{% endblock%}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  	{% load static %}
  	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>

  <body>

  	<div class="navbar">

  		{% block sidebar %}
  		<ul>
  			{% if user.is_authenticated %}
        <li class="logo">movie memory - {{user.get_username}}</li>
        <li><a href="{% url 'logout' %}?next=/about_page/">log out</a></li>
        <li><a href="/about_page/">about</a></li>
        <li><a href="{% url 'ticket_list' %}">my tickets</a></li>
        {% else %}
        <li class="logo">movie memory</li>
        <li><a href="{% url 'signup' %}">sign up</a></li>
        <li><a href="{% url 'login' %}?next={% url 'ticket_list' %}">login</a></li>
        <li><a href="/about_page/">about</a></li>
        {% endif %}
  		</ul>
  		{% endblock %}
  	</div>

  	<div class="content">
  		{%block content %}{% endblock %}
  	</div>

  </body>
  </html>

  
