{% extends "base_generic.html" %}

{% block content %}
<div class="page-header">
    <h1>my tickets</h1>
</div>

	{% for ticket in tickets %}
    	<div class="wholeTicket">
    		<div class="ticket ticketLeft">
    			<div class="title">
    				<h1>{{ticket.title}}</h1>
    			</div>
    			<div class="dateLocation">
    				<h2>{{ticket.date_seen}} • {{ticket.location}}</h2>
    			</div>
    			<div class="genre">
    				<h2>{{ticket.genre}}</h2>
    			</div>
    			<div class="friends">
    				<h2>fellow viewers: {{ticket.companions}}</h2>
    			</div>
    			<div class="notes">
    				<h2>my thoughts: {{ticket.notes}}</h2>
    			</div>
    		</div>
    		<div class="ticket ticketRight">
    			<div class="poster">
    				<a href="">
    					<img src="">
    				</a>
    			</div>
    		</div>
    	</div>
	{% endfor %}
{% endblock %}