{% extends "base_generic.html" %}

{% block content %}
<div class="ticket-body">
<div class="page-header">
    <h1>My Tickets</h1>
    <div class="buttons">
        <ul class="buttonList">
            <li class="first"><a href="{% url 'ticket_new' %}" class="newTicket">
            <span class="glyphicon glyphicon-plus"></span>add ticket</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="newTicket"><span class="glyphicon glyphicon-pencil"></span>edit ticket</a>
                <div class="ddContent">
                    {% for ticket in tickets %}
                    <a href="{% url 'ticket_update' ticket.pk %}"> {{ticket.title}}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="newTicket"><span class="glyphicon glyphicon-trash"></span>delete ticket</a>
                <div class="ddContent">
                    {% for ticket in tickets %}
                    <a href="{% url 'ticket_delete' ticket.pk %}"> {{ticket.title}}</a>
                    {% endfor %}
                </div>
            </li><br>
        </ul>
    </div>
</div>

	{% for ticket in tickets %}
    	<div class="wholeContent">
            <div class="poster">
                <a href="http://imdb.com" target="_blank">
                    <img src="/static/images/LadyBird.jpg">
                </a>
            </div>
            <div class="ticket">
    			<div class="title">
    				<h1>{{ticket.title}} </br>
                        <span class="dateLocation">{{ticket.date_seen}} • {{ticket.location}}</span></h1>
    			</div>
    			<div class="genre"> 
    				<h2><span class="label">genre:</span>{{ticket.genre}}</h2>
    			</div>
    			<div class="friends">
    				<h2><span class="label">fellow viewers:</span>{{ticket.companions}}</h2>
    			</div>
    			<div class="notes">
    				<h2><span class="label">my thoughts:</span>{{ticket.notes}}</h2>
    			</div>
    		</div>
    	</div>
	{% endfor %}
</div>
{% endblock %}