{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="username">
  <td>{{ form.username.label_tag }}</td>
  <br>
  <td>{{ form.username }}</td>
</div>
<br>
<div class="password">
  <td>{{ form.password.label_tag }}</td>
  <br>
  <td>{{ form.password }}</td>
</div>
<br>
<div>
  <button type="submit" class="btn btn-default">Log in</button>
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

<p><a href="{% url 'password_reset' %}" class="forgot-password">Forgot password?</a></p>

{% endblock %}